@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

/*body 전체*/
body {
  text-align:center;
  color:black;
  width:100%;
  height:100%;
  
  font-family:'Jeju Gothic', serif;
  margin:0 auto;
}

div#maintop{
  margin-top:30px;
  text-align:center;
  font-size:xx-large;
  line-height:30px;
  margin-left:40px;
}

div#board{
  font-size:large;
  margin:0 auto;
  height:100%;
  width:100%;
}

div#board1{
  margin:0 auto;
  font-size:medium;
  height:100%;
  width:100%;
}

div#wapper{
  width:90%;
  text-align:center;
  min-height:300px;
  margin:0 auto;
}

div#Answer{
  width:80%;
  margin-left:20px;
  list-style:none;
  overflow:hidden;
  line-height:10px;
}

header, footer, nav, section{
  margin:1px;
  padding:1px;
}

header{
  height:40px;
  border-top:2px solid black;
  border-bottom:2px solid black;
}

section{
  float:left;
  height:50%;
  width:100%;
}

nav{
  float:left;
  height:20%;
  width:20%;
  text-align:center;
}

section{
  width:100%;
  overflow:hidden;
}

section p{
  padding-bottom:5px;
  border-bottom:1px solid crimson;
}

footer{
  height:10%;
  background-color:white;
  position:relative;
  clear:both;
}

article{
  width:80%;
  margin-left:20px;
  list-style:none;
  overflow:hidden;
  line-height:20px;
}

article p{
  text-align:center;
}

article pre{
  margin-left:30%;
  text-align:left;
}

div nav ul li{
  list-style:none;
  text-align:left;
  margin-bottom:10px;
}

nav p{
  border-bottom:2px solid black;
  padding-bottom:5px;
}

div nav ul li a{
  text-decoration:none;
}

div header ul li{
  list-style:none;
  float:left;
  border-right:1px solid burlywood;
  border-left:1px solid burlywood;
  padding-left:1px;
  padding-right:1px;
  color:black;
}

div header ul li:hover{
  color:crimson;
}

div header ul{
  overflow:hidden;
  display:table;
  margin-left:auto;
  margin-right:auto;
}

footer ul{
  overflow:hidden;
  display:table;
  margin-left:auto;
  margin-right:auto;
}

footer li{
  list-style:none;
  float:left;
  border-right:1px solid burlywood;
  border-left:1px solid burlywood;
  padding-left:30px;
  padding-right:30px;
  color:black;
}
